<html ng-app="map_editor_app">
	<head>
		<title>Map editor</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.css">
	</head>
	<body>
	
	<div ng-view></div>
		
		
		<script type="text/javascript" src="static/lib/jquery/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="static/lib/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="static/lib/angularjs/angular.js"></script>
		<script type="text/javascript" src="static/lib/angularjs/angular-route.js"></script>
		<script type="text/javascript" src="static/lib/angularjs/angular-resource.js"></script>
		<script type="text/javascript" src="static/js/map_editor_app.js"></script>
		<script type="text/javascript" src="static/js/map_editor_controllers.js"></script>
		<script type="text/javascript" src="static/js/map_editor_services.js"></script>
	</body>
</html>